/*FIREFOX BROWSERS*/
@media all {
.content-wrapper .content-holder .span6,
.content-wrapper .content-holder .span6 {
	margin-left: 0;
}
}
@media (min-width: 1025px) and (max-width: 1266px) {
/*MENU*/
.navbar {
    margin: 0 auto;
}
}
@media (min-width: 980px) and (max-width: 1024px)  {
.indent {
    margin: 0 6em;
}
.field-name {
	padding: 0;
}
/*HEADER*/
.title {
	width: 600px;
}
.title h2 {
	font-size: 25px;
}

/*MENU*/
#menu-wrapper .menu {
	margin: 0 20px 0 15px !important;
}

/*DASHBOARD*/
.control-group {
	margin-bottom: 0;
}
.content-holder .span6 {
	/*width: 100%;*/
}
.dashboard-right-column {
    /*padding: 1.5em 0 0 5em;*/
}
/*CASES*/
.case-header .L,
.matters-header .L {
	margin-right: 2em;
}
.case-brief .summary h4, 
.case-brief .facts h4, 
.case-brief .issues h4, 
.case-brief .laws h4, 
.case-brief .related h4, 
.case-brief .notes h4 {
    margin: 0 4em 1em;
}
.case-brief .laws-edit, 
.case-brief .issues-edit, 
.case-brief .notes-edit, 
.case-brief .summary-edit, 
.case-brief .facts-edit {
    margin: 0 6em 1em;
}
/* DOCUMENTS*/
.document-view .span3 { 
	width: 290px;
}



}
@media (min-width: 768px) and (max-width: 979px) {
.indent {
    margin: 0 6em;
}
/*MENU*/
#menu-wrapper .menu {
    margin: 5px 0 0 !important;
}
.menu-wrapper .menu .dashboard {
	width: 100%;
	height: 35px;
	background:url(../img/icons/dashboard-h.png) no-repeat left center;
}
.menu-wrapper .menu .dashboard:hover {
	width: 100%;
	height: 35px;
	border-radius: 2px;
	background:url(../img/icons/dashboard-h.png) no-repeat left center #73302F;
}
.menu-wrapper .menu .dashboard-active {
	background:url(../img/icons/dashboard-h.png) no-repeat left center #73302F;
	border-radius: 2px;
	width:100%;
	height: 35px;
}
.menu-wrapper .menu .cases {
	width: 100%;
	height: 35px;
	background:url(../img/icons/cases-h.png) no-repeat left center;
}
.menu-wrapper .menu .cases:hover {
	width: 100%;
	height: 35px;
	border-radius: 2px;
	background:url(../img/icons/cases-h.png) no-repeat left center #73302F;
}
.menu-wrapper .menu .cases-active {
	background:url(../img/icons/cases-h.png) no-repeat left center #73302F;
	border-radius: 2px;
	width:100%;
	height: 35px;
}
.menu-wrapper .menu .matters {
	width: 100%;
	height: 35px;
	background:url(../img/icons/matters-h.png) no-repeat left center;
}
.menu-wrapper .menu .matters:hover {
	width: 100%;
	height: 35px;
	border-radius: 2px;
	background:url(../img/icons/matters-h.png) no-repeat left center #73302F;
}
.menu-wrapper .menu .matters-active {
	background:url(../img/icons/matters-h.png) no-repeat left center #73302F;
	border-radius: 2px;
	width:100%;
	height: 35px;
}
.menu-wrapper .menu .calendar {
	width: 100%;
	height: 35px;
	background:url(../img/icons/calendar-h.png) no-repeat left center;
}
.menu-wrapper .menu .calendar:hover {
	width: 100%;
	height: 35px;
	border-radius: 2px;
	background:url(../img/icons/calendar-h.png) no-repeat left center #73302F;
}
.menu-wrapper .menu .calendar-active {
	background:url(../img/icons/calendar-h.png) no-repeat left center #73302F;
	border-radius: 2px;
	width:100%;
	height: 35px;
}
.menu-wrapper .menu .documents {
	width: 100%;
	height: 35px;
	background:url(../img/icons/documents-h.png) no-repeat left center;
}
.menu-wrapper .menu .documents:hover {
	width: 100%;
	height: 35px;
	border-radius: 2px;
	background:url(../img/icons/documents-h.png) no-repeat left center #73302F;
}
.menu-wrapper .menu .documents-active {
	background:url(../img/icons/documents-h.png) no-repeat left center #73302F;
	border-radius: 2px;
	width:100%;
	height: 35px;
}
.menu-wrapper .menu .contacts {
	width: 100%;
	height: 35px;
	background:url(../img/icons/contacts-h.png) no-repeat left center;
}
.menu-wrapper .menu .contacts:hover {
	width: 100%;
	height: 35px;
	border-radius: 2px;
	background:url(../img/icons/contacts-h.png) no-repeat left center #73302F;
}
.menu-wrapper .menu .contacts-active {
	background:url(../img/icons/contacts-h.png) no-repeat left center #73302F;
	border-radius: 2px;
	width:100%;
	height: 35px;
}
.menu-wrapper .menu .billing {
	width: 100%;
	height: 35px;
	background:url(../img/icons/billing-h.png) no-repeat left center;
}
.menu-wrapper .menu .billing:hover {
	width: 100%;
	height: 35px;
	border-radius: 2px;
	background:url(../img/icons/billing-h.png) no-repeat left center #73302F;
}
.menu-wrapper .menu .billing-active {
	background:url(../img/icons/billing-h.png) no-repeat left center #73302F;
	border-radius: 2px;
	width:100%;
	height: 35px;
}
.menu-wrapper .menu .library {
	width: 100%;
	height: 35px;
	background:url(../img/icons/library-h.png) no-repeat left center;
}
.menu-wrapper .menu .library:hover {
	width: 100%;
	height: 35px;
	border-radius: 2px;
	background:url(../img/icons/library-h.png) no-repeat left center #73302F;
}
.menu-wrapper .menu .library-active {
	background:url(../img/icons/library-h.png) no-repeat left center #73302F;
	border-radius: 2px;
	width:100%;
	height: 35px;
}
.navbar {
	margin: 0 auto 5px;
    width: 90%;
}

/*DASHBOARD*/
.dashboard-right-column {
    padding: 1.5em 0 0 5em;
}
.dashboard-content .recent-activities .content-holder {
	width: 80%;
}
.title {
	width: 355px;
}
.title h2 {
	font-size: 25px;
}
/*.content-holder .span6 {
	width: 100%;
}*/
.control-group {
	margin-bottom: 0;
}

/*CASES*/
.search-advanced {
	line-height: 40px;
}
.case-profile-wrapper .case-header .control-group .L .field-content input,
.case-profile-wrapper .case-header .control-group .L .field-content textarea {
	width: 111px;
}
.case-profile-wrapper .case-header .control-group .L .field-content select,
.case-profile-wrapper .case-header .control-group .R .field-content select {
	width: 125px;
}
.case-profile-wrapper .case-header .control-group .R .field-content .num-date {
	width: 67px;
}
/*.case-profile-wrapper .case-header .L {
	width: 100%;
}
.case-profile-wrapper .case-header .R {
	width: 100%;
}*/
.case-profile-wrapper .field-content textarea {
    width: 425px;
}
.case-profile-wrapper .case-profile .outgoing-holder .field-content select {
	width: 200px;
}
.case-profile-wrapper .tracking-content .col-2 select,
.case-profile-wrapper .tracking-content .col-3 select {
	width:100px;
}
.case-profile-wrapper .tracking-content .col-4 input {
	width:27px;
}
.case-profile-wrapper .tracking-content .col-5 input {
	width:76px;
}
.case-brief .summary h4, 
.case-brief .facts h4, 
.case-brief .issues h4, 
.case-brief .laws h4, 
.case-brief .related h4, 
.case-brief .notes h4 {
    margin: 0 4em 1em;
}
.case-brief .laws-edit, 
.case-brief .issues-edit, 
.case-brief .notes-edit, 
.case-brief .summary-edit, 
.case-brief .facts-edit {
    margin: 0 6em 1em;
}

/*MATTERS*/
.matters-wrapper .matters-header .control-group .L .field-content input,
.matters-wrapper .matters-header .control-group .L .field-content textarea {
	width: 111px !important;
}
.matters-wrapper .matters-header .control-group .L .field-content select,
.matters-wrapper .matters-header .control-group .R .field-content select {
	width: 125px;
}
.matters-wrapper .matters-header .control-group .R .field-content .num-date {
	width: 68px;
}
.matters-wrapper .L .field-content textarea {
	width: 425px;
}
/*.matters-wrapper .both .col-2 select,
.matters-wrapper .both .col-3 select {
	width:100px;
}
.matters-wrapper .both .col-4 input {
	width:20px;
}
.matters-wrapper .both .col-5 input {
	width:76px;
}*/
/*.matters-wrapper .matters-header .L {
	width: 100%;
}
.matters-wrapper .matters-header .R {
	width: 100%;
}*/

/*.case-search .control-group .input-append input,
.matters-search .control-group .input-append input,
.billing-search .control-group .input-append input {
	min-width: 195px;
	width: 195px;
}
.document-search .control-group .input-append input {
	width: 165px;
	min-width: 165px;
}
.case-search .L .field-name,
.matters-search .L .field-name,
.billing-search .L .field-name,
.case-header .control-group .L .field-name,
.matters-wrapper .matters-header .L .field-name {
	width: 7em;
}
.document-search .L .field-name {
	width: 7em;
}
.case-search .R .field-name-extend,
.matters-search .R .field-name-extend{
	width: 8em;
}
.billing-search .R .field-name,
.case-header .control-group .R .field-name,
.matters-wrapper .matters-header .R .field-name  {
	width: 7.5em;
}
.document-search .R .field-name {
	width: 7.5em;
}
.case-search .L .num-date,
.billing-search .L .num-date {
    width: 5.2em;
}
.case-search .L input,
.matters-search .L input,
.document-search .L input,
.billing-search .L input,
.case-search .R input,
.matters-search .R input,
.billing-search .R input {
	width: 108px;
}
.case-search .R select,
.matters-search .R select,
.document-search .R select,
.billing-search .R select {
	width: 122px;
}
.document-search .L select {
	width: 122px;
}*/
/*BILLING*/
.bill-holder .arrangement {
	width:100%;
}
.bill-holder .summary {
	float: none;
	margin: 10px 0;
	width: 100%;
}

}

@media (max-width: 767px) {
.indent {
    margin: 0 2em;
}
/*HEADER*/
.user-wrapper {
	float: left;
	margin: 0 0 12px;
}
.title h2 {
	font-size: 25px;
}

/*MENU*/
#menu-wrapper .menu {
	margin: 5px 0 0 !important;
}
.menu-wrapper .menu .dashboard {
	width: 100%;
	height: 35px;
	background:url(../img/icons/dashboard-h.png) no-repeat left center;
}
.menu-wrapper .menu .dashboard:hover {
	width: 100%;
	height: 35px;
	border-radius: 2px;
	background:url(../img/icons/dashboard-h.png) no-repeat left center #062A3E;
}
.menu-wrapper .menu .dashboard-active {
	background:url(../img/icons/dashboard-h.png) no-repeat left center #062A3E;
	border-radius: 2px;
	width:100%;
	height: 35px;
}
.menu-wrapper .menu .cases {
	width: 100%;
	height: 35px;
	background:url(../img/icons/cases-h.png) no-repeat left center;
}
.menu-wrapper .menu .cases:hover {
	width: 100%;
	height: 35px;
	border-radius: 2px;
	background:url(../img/icons/cases-h.png) no-repeat left center #062A3E;
}
.menu-wrapper .menu .cases-active {
	background:url(../img/icons/cases-h.png) no-repeat left center #062A3E;
	border-radius: 2px;
	width:100%;
	height: 35px;
}
.menu-wrapper .menu .matters {
	width: 100%;
	height: 35px;
	background:url(../img/icons/matters-h.png) no-repeat left center;
}
.menu-wrapper .menu .matters:hover {
	width: 100%;
	height: 35px;
	border-radius: 2px;
	background:url(../img/icons/matters-h.png) no-repeat left center #062A3E;
}
.menu-wrapper .menu .matters-active {
	background:url(../img/icons/matters-h.png) no-repeat left center #062A3E;
	border-radius: 2px;
	width:100%;
	height: 35px;
}
.menu-wrapper .menu .calendar {
	width: 100%;
	height: 35px;
	background:url(../img/icons/calendar-h.png) no-repeat left center;
}
.menu-wrapper .menu .calendar:hover {
	width: 100%;
	height: 35px;
	border-radius: 2px;
	background:url(../img/icons/calendar-h.png) no-repeat left center #062A3E;
}
.menu-wrapper .menu .calendar-active {
	background:url(../img/icons/calendar-h.png) no-repeat left center #062A3E;
	border-radius: 2px;
	width:100%;
	height: 35px;
}
.menu-wrapper .menu .documents {
	width: 100%;
	height: 35px;
	background:url(../img/icons/documents-h.png) no-repeat left center;
}
.menu-wrapper .menu .documents:hover {
	width: 100%;
	height: 35px;
	border-radius: 2px;
	background:url(../img/icons/documents-h.png) no-repeat left center #062A3E;
}
.menu-wrapper .menu .documents-active {
	background:url(../img/icons/documents-h.png) no-repeat left center #062A3E;
	border-radius: 2px;
	width:100%;
	height: 35px;
}
.menu-wrapper .menu .contacts {
	width: 100%;
	height: 35px;
	background:url(../img/icons/contacts-h.png) no-repeat left center;
}
.menu-wrapper .menu .contacts:hover {
	width: 100%;
	height: 35px;
	border-radius: 2px;
	background:url(../img/icons/contacts-h.png) no-repeat left center #062A3E;
}
.menu-wrapper .menu .contacts-active {
	background:url(../img/icons/contacts-h.png) no-repeat left center #062A3E;
	border-radius: 2px;
	width:100%;
	height: 35px;
}
.menu-wrapper .menu .billing {
	width: 100%;
	height: 35px;
	background:url(../img/icons/billing-h.png) no-repeat left center;
}
.menu-wrapper .menu .billing:hover {
	width: 100%;
	height: 35px;
	border-radius: 2px;
	background:url(../img/icons/billing-h.png) no-repeat left center #062A3E;
}
.menu-wrapper .menu .billing-active {
	background:url(../img/icons/billing-h.png) no-repeat left center #062A3E;
	border-radius: 2px;
	width:100%;
	height: 35px;
}
.menu-wrapper .menu .library {
	width: 100%;
	height: 35px;
	background:url(../img/icons/library-h.png) no-repeat left center;
}
.menu-wrapper .menu .library:hover {
	width: 100%;
	height: 35px;
	border-radius: 2px;
	background:url(../img/icons/library-h.png) no-repeat left center #73302F;
}
.menu-wrapper .menu .library-active {
	background:url(../img/icons/library-h.png) no-repeat left center #73302F;
	border-radius: 2px;
	width:100%;
	height: 35px;
}
.navbar {
    width: 90%;
}

/*DASHBOARD*/
.dashboard-left-column {
    padding: 1.5em 0 0 3.5em;
}
.dashboard-right-column {
    padding: 1.5em 0 0 3.5em;
}

/*CASES*/
.case-profile-wrapper .field-content textarea {
    width: 206px;
}
.case-profile .sub {
	text-align: left;
}
.case-profile-wrapper .case-header .L {
	width: 100%;
}
.case-profile-wrapper .case-header .R {
	width: 100%;
}
/*CASE PROFILE*/
.case-brief .field-name {
	width: 5.5em;
}
.case-brief .summary h4, 
.case-brief .facts h4, 
.case-brief .issues h4, 
.case-brief .laws h4, 
.case-brief .related h4, 
.case-brief .notes h4 {
    margin: 0 1.25em 1em;
}
.case-brief .laws-edit, 
.case-brief .issues-edit, 
.case-brief .notes-edit, 
.case-brief .summary-edit, 
.case-brief .facts-edit {
    margin: 0 2em 1em;
}
.activities-holder .form-search #milestone select {
	width: 130px;
}
/*MATTERS*/
.matters-wrapper .matters-header .L {
	width: 100%;
}
.matters-wrapper .matters-header .R {
	width: 100%;
}
.matters-wrapper .L .field-content textarea {
    width: 206px;
}

/*CONTACTS*/
.contact-list {
    width: 95%;
}
/*REMINDER*/
.reminder-content .reminder-item .item {
    margin-left: 5px;
    width: 95%;
}
/*BILLING*/
.bill-holder .arrangement {
	width:100%;
}
.bill-holder .summary {
	float: left;
	margin: 10px 0;
	width:100%;
}

}

@media (max-width: 480px)  {
.controls {
	margin: 0;
}
/*MENU*/
#menu-wrapper .menu {
	margin: 5px 0 0 !important;
}
/*DOCUMENT*/
.document-display {
    margin: 10px 0 0 15px;
}
.document-content .add-document {
    float: left;
    margin-left: 15px;
}
}

/*---GLOBAL-BOOTSTRAP OVERRIDE---*/
@media (max-width: 1024px) {
/*CSS FOR RESPONSIVE TABLE*/
/* Force table to not be like tables anymore */
#no-more-tables table,
#no-more-tables thead,
#no-more-tables tbody,
#no-more-tables th,
#no-more-tables td,
#no-more-tables tr {
	display: block;
}
 
/* Hide table headers (but not display: none;, for accessibility) */
#no-more-tables thead tr {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
 						
#no-more-tables tr { 
	border: 1px solid #dedede; 
}
 
#no-more-tables td {
	/* Behave like a "row" */
	border: none;
	border-bottom: 1px solid #eee;
	position: relative;
	padding-left: 45%;
	white-space: normal;
	text-align:left;
}
 
#no-more-tables td:before {
	/* Now like a table header */
	position: absolute;
	/* Top/left values mimic padding */
	left: 6px;
	width: 45%;
	padding-right: 10px;
	white-space: nowrap;
	text-align:left;
	font-size: 14px;
	font-weight: bold;
	color: #27547C;
}
 
/*Label the data*/
#no-more-tables td:before { 
	content: attr(data-title); 
}
#no-more-tables td {
	width: auto;
}
/*
#case-header {
	margin: 0 13px 10px 5px;
}*/

}

/*CHROME HACK*/
@media screen and (-webkit-min-device-pixel-ratio:2) {
.case-search .L .field-name,
.matters-search .L .field-name,
.document-search .L .field-name,
.billing-search .L .field-name,
.case-header .control-group .L .field-name,
.matters-wrapper .matters-header .L .field-name {
	margin: 0;
	width: 7.5em;
}
.case-search .R .field-name-extend,
.matters-search .R .field-name-extend,
.document-search .R .field-name,
.billing-search .R .field-name,
.case-header .control-group .R .field-name,
.matters-wrapper .matters-header .R .field-name  {
	margin: 0;
	width: 8.5em;
}
}

