/**BOOSTRAP OVERRIDE**/
/********************/
.wallpaper {
	background: url("../img/wallpaper5.jpg") no-repeat scroll top center / cover  rgba(0, 0, 0, 0);
}
.modal {
	width: 300px;
	margin-left: -155px;
}
.modal form {
	padding: 0;
}
#push, #ft {
    margin-top: 30px;
}
#ft {
	background: url("../img/black-linen.png") repeat scroll 0 0 #8a3a37;
	border-top: none;
	text-align:center;
}
#ft .container .credit {
	color:#fff;
}
.login-nav .navbar-inner,
.navbar-inverse .navbar-inner {
	border:none;
	background: url("../img/black-linen.png") repeat scroll 0 0 #8a3a37;
}
.navbar .nav > li > a {
	padding: 0;
}
.navbar .span6 {
	margin: 0;
}
.navbar-inverse .change-inner {
	background-image: linear-gradient(to bottom, #111, #111);
	background-color:#111;
	border: none;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
	color: #fff;
}
.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover {
	background-color: #000;
    color: #fff;
}
.form-search .row-fluid,
.case-profile-wrapper .row-fluid,
.matters-wrapper .row-fluid {
	line-height:30px;
}
input[type="file"] {
	height: 32px;
}

/**LOGIN**/
/********/
.cms-title {
	color: #fff;
	text-shadow: 2px 2px 4px #000;
	text-align:center;
}
.login-nav .brand-wrapper {
	position: relative;
    text-align: center;
	font-family:"Times New Roman", Times, serif;
}
.login-nav .brand-wrapper .brand {
	display: inline-block;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
}
.login-nav .brand-wrapper .brand-name {
	color:#fff;
    display: inline-block;
	text-align: left;
}
.login-nav .brand-wrapper .brand-name h3 {
	margin: 0;
}
.login-nav .brand-wrapper .brand-name p {
	 color: #000;
    font-size: 20px;
}

/**---------------------------------------------------------------------**/

/**----------------------FROM NCIP STYLE-------------------------------**/
/*---UI-WIDGET OVERRIDE---*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: none;
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 12px;
	height: 25px;
}
.textboxlist { 
	width: 400px; 
	display: inline-block;
}
.textboxlist-bits {
	border: 1px solid #CCCCCC;
}
.textboxlist li input { 
	background-color: none;
    border: none; 
	box-shadow: none; 
}
.textboxlist-autocomplete {
	z-index: 999;
}
.textboxlist-autocomplete-result { 
	overflow: hidden; 
	zoom: 1; 
}
.textboxlist-autocomplete-result img { 
	float: left; 
	padding-right: 10px; 
}
.note { 
	background-color: #000; 
	font-size: 90%; 
}
.form_tags { 
	margin-bottom: 10px; 
}
/*---END OF UI-WIDGET OVERRIDE---*/

/*---GLOBAL---*/
.L, .R {
	display: inline-block;
	vertical-align:top;
	margin-bottom: 1em;
}
.right {
	text-align: right !important;
}
.left {
	text-align: left !important;
}
ul, li {
    list-style-type: none;
}
.clear {
	clear: both;
}
.double-height {
	line-height: 14px;
}
.bottom {
	margin-bottom: 1em;
}
.indent {
	margin: 0 10em;
}
.center {
	text-align: center;
}
.bold {
	font-weight: bold;
}
.red {
	color: #B94A48;
}
.asterisk {
	font-weight: bold;
    line-height: 12px;
    vertical-align: top;
}
.separator {
	border: 1px solid #f5f5f5;
	margin: 0.5em 0;
}
.header {
	margin: 0 auto;
	min-width: 930px;
	min-height: 70px;
	background: url(../img/black-linen.png) repeat #8a3a37; /*#033649*/
/*	background-image: -moz-linear-gradient(top, #350B20 4%, #280918);
	background-image: -ms-linear-gradient(top, #350B20 4%, #280918);
	background-image: -webkit-linear-gradient(top, #350B20 4%, #280918);
	background-image: -o-linear-gradient(top, #350B20 4%, #280918);
	background-image: linear-gradient(top, #350B20 4%, #280918);*/
}
.header-holder {
	width:87%;
	/*min-width: 480px;*/
	margin: 0 auto;
}
.title-header {
	font: 18px/40px Verdana, Geneva, sans-serif;
	color: #27547C;
	margin:3px 0 0 15px;
	display: inline-block;
}
.sidebar-wrapper {
	padding: 1em 0;
	color: #fff;
	text-align: center;
}
.sidebar-wrapper .sidebar-icons {
	margin:0;
}
.sidebar-holder {
	background:url(../img/sidebar-bg.png) no-repeat transparent;
	position: absolute;
	margin: 1.75em 0 0 0;
	top: 137px;
	left: -93px;
	height: 120px;
	width: 120px;
	z-index: 1;
}
.sidebar-extend {
	background:url(../img/sidebar-bg.png) no-repeat transparent;
	position: absolute;
	margin: 1.75em 0 0 0;
	height: 170px;
	width: 170px;
}
.sidebar-icons .receive-complaint,
.sidebar-icons .receive-document,
.sidebar-icons .add-task,
.sidebar-icons .add-payment-details,
.sidebar-icons .transfer-case {
	margin: 0 10px 10px 0;
}
.sidebar-icons .receive-complaint a,
.sidebar-icons .receive-document a,
.sidebar-icons .add-task a,
.sidebar-icons .add-payment-details a,
.sidebar-icons .transfer-case a {
	color: #FEFFEA;
	line-height: 14px;
}
.sidebar-arrow {
	left: 5px;
    margin: 0;
    position: relative;
    top: 38%;
}
.sidebar-arrow a {
	color: #fff;
}
.sidebar-arrow a:hover {
	text-decoration:none;
}
/*@media only screen and (-webkit-min-device-pixel-ratio:0) {
.sidebar-arrow {
	left: 5px;
    margin: 0;
    position: relative;
    top: 38%;
}
}*/
.sidebar-arrow .arrow {
	margin: 2.4em 0 0 0;
}
.footer {
	width: 100%;
	background: url(../img/black-linen.png) repeat #8a3a37; /*#033649*/
	margin: 0;
	padding: 10px 0 0 0;
	text-align:center;
	min-width: 930px;
	height: 56px;
    bottom: 0;
}
.footer-top {
	background-color: #441C1C;
	min-width: 480px;
	height:6px;
	margin: -10px 0 10px 0;
}
.footer-img {
	background-image:url(../img/footer-attache-logo.png);
	height: 40px;
	width: 120px;
	display: inline-block;
	padding: 0;
	margin: 0 auto;
}
.footer-separator {
	background-image: url(../img/ft-separator.png);
	background-repeat:no-repeat;
	height: 40px;
	width: 4px;
	display: inline-block;
	padding: 0;
	margin: 0;
}
.footer-text {
	position: relative;
	font-size: 12px;
	color: #fff;
	display:inline-block;
	text-align:left;
}
.menu-wrapper {
	background-color: #000;/*#8a3a37*/
	border-bottom: 2px solid #592525;
	color: #fff;
	min-width: 930px;
	/*min-height:66px;*/
	text-align:center;
}
.menu {
	margin: 0 10px 0;
}
.menu .dashboard {
	display: block;
	width: 93px;
	height: 66px;
	background:url(../img/icons/btn-dashboard.png) no-repeat center center;
}
.menu .dashboard:hover {
	background:url(../img/icons/btn-dashboard-hover.png) no-repeat center center;
}
.menu .dashboard-active {
	background:url(../img/icons/btn-dashboard-hover.png) no-repeat center center;
	width: 93px;
	height:66px;
}
.menu .cases {
	display: block;
	width: 93px;
	height: 66px;
	background:url(../img/icons/btn-cases.png) no-repeat center center;
}
.menu .cases:hover {
	background:url(../img/icons/btn-cases-hover.png) no-repeat center center;
}
.menu .cases-active {
	background:url(../img/icons/btn-cases-hover.png) no-repeat center center;
	width: 93px;
	height: 66px;
}
.menu .calendar {
	display: block;
	width: 93px;
	height: 66px;
	background:url(../img/icons/btn-calendar.png) no-repeat center center;
}
.menu .calendar:hover {
	background:url(../img/icons/btn-calendar-hover.png) no-repeat center center;
}
.menu .calendar-active {
	background:url(../img/icons/btn-calendar-hover.png) no-repeat center center;
	width: 93px;
	height: 66px;
}
.menu .documents {
	display: block;
	width: 93px;
	height: 66px;
	background:url(../img/icons/btn-documents.png) no-repeat center center;
}
.menu .documents:hover {
	background:url(../img/icons/btn-documents-hover.png) no-repeat center center;
}
.menu .documents-active {
	background:url(../img/icons/btn-documents-hover.png) no-repeat center center;
	width: 93px;
	height: 66px;
}
.menu .contacts {
	display: block;
	width: 93px;
	height: 66px;
	background:url(../img/icons/btn-contacts.png) no-repeat center center;
}
.menu .contacts:hover {
	background:url(../img/icons/btn-contacts-hover.png) no-repeat center center;
}
.menu .contacts-active {
	background:url(../img/icons/btn-contacts-hover.png) no-repeat center center;
	width: 93px;
	height: 66px;
}
.menu .billing {
	display: block;
	width: 93px;
	height: 66px;
	background:url(../img/icons/btn-billing.png) no-repeat center center;
}
.menu .billing:hover {
	background:url(../img/icons/btn-billing-hover.png) no-repeat center center;
}
.menu .billing-active {
	background:url(../img/icons/btn-billing-hover.png) no-repeat center center;
	width: 93px;
	height: 66px;
}
.menu .reports {
	display: block;
	width: 93px;
	height: 66px;
	background:url(../img/icons/btn-reports.png) no-repeat center center;
}
.menu .reports:hover {
	background:url(../img/icons/btn-reports-hover.png) no-repeat center center;
}
.menu .reports-active {
	background:url(../img/icons/btn-reports-hover.png) no-repeat center center;
	width: 93px;
	height: 66px;
}
.menu .templates {
	display: block;
	width: 93px;
	height: 66px;
	background:url(../img/icons/btn-templates.png) no-repeat center center;
}
.menu .templates:hover {
	background:url(../img/icons/btn-templates-hover.png) no-repeat center center;
}
.menu .templates-active {
	background:url(../img/icons/btn-templates-hover.png) no-repeat center center;
	width: 93px;
	height: 66px;
}
.menu .system {
	display: block;
	width: 93px;
	height: 66px;
	background:url(../img/icons/btn-system.png) no-repeat center center;
}
.menu .system:hover {
	background:url(../img/icons/btn-system-hover.png) no-repeat center center;
}
.menu .system-active {
	background:url(../img/icons/btn-system-hover.png) no-repeat center center;
	width: 93px;
	height: 66px;
}
.menu .matters {
	display: block;
	width: 93px;
	height: 66px;
	background:url(../img/icons/btn-matters.png) no-repeat center center;
}
.menu .matters:hover {
	background:url(../img/icons/btn-matters-hover.png) no-repeat center center;
}
.menu .matters-active {
	background:url(../img/icons/btn-matters-hover.png) no-repeat center center;
	width: 93px;
	height: 66px;
}
.menu .library {
	display: block;
	width: 93px;
	height: 66px;
	background:url(../img/icons/btn-library.png) no-repeat center center;
}
.menu .library:hover {
	background:url(../img/icons/btn-library-hover.png) no-repeat center center;
}
.menu .library-active {
	background:url(../img/icons/btn-library-hover.png) no-repeat center center;
	width: 93px;
	height: 66px;
}
.user-wrapper {
	background-color: #fff;
    float: right;
    margin: 10px 0 12px 12px;
    min-width: 200px;
    padding: 10px;
    position: relative;
	border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
}
/*@media (max-width: 768px) {
.user-wrapper {
	margin-top:0;
	width: 98%;
}
}*/
.user {
}
.user-image {
	width: 32px;
	height:32px;
	margin: 0 8px 0 0;
	border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
}
.user-wrapper .user .btn-link {
	font-size: 11px;
	line-height: 20px;
}
.title {
	min-width: 280px;
	/*width: 800px;*/
	margin: 10px 0 0 12px;
	float: left;
	color: #fff;
}
.title span {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: normal;
}
.content-wrapper {
	min-width: 930px;
	max-width:1280px;
	min-height: 300px;
	border: 1px solid #ccc;
	margin: 20px auto 0 !important;
	text-align:left;
}
.content-holder {
	/*width: 98.5%;*/
	margin: 0 auto;
}
.content-holder .search-holder1 {
	width: 100%;
}
.content-holder .search-holder2 {
	width: 100%;
}
.content-holder .search-holder3 {
	width: 100%;
}
.content-holder .search-holder1 .name {
	font: 18px/40px Verdana, Geneva, sans-serif;
	color: #27547C;
	padding: 0 0.5em 0 0;
	display: inline-block;
	vertical-align: middle;
}
.content-holder .edit-header {
	background-color: #632927;
	padding: 5px;
	margin: 0 0 10px;
	color: #fff;
}
.content-holder .edit-header h5 {
	margin: 0 10px;
}
.content {
	background-color:#fff;
	margin: 10px 0 10px 0;
}
.field-name {
	background-color: transparent; /*#f3f3f3*/
	vertical-align: top;
	padding: 0 1em;
	width: 11.5em;
	display: inline-block;
}
.field-name-extend {
	background-color:#f3f3f3;
	vertical-align: top;
	font-weight: bold;
	padding: 0 1em;
	width: 17em;
}
.field-content {
	/*margin: 0 2em 0 1em;
	min-width: 6em;*/
	display: inline-block;
}
.questions input[type="radio"],
.field-content input[type="radio"],
.field-content input[type="checkbox"] {
	margin:0;
}
.controls {
	margin: 0.5em 0 0.5em 0.5em;
	text-align: right;
}
.highcharts-container tspan[style="font-weight:bold"] {
	display: none;
}

/*.tags {
	color: #033649;
	background-color: #dedede;
}
.tags a {
	text-shadow: none;
}*/

/*---END OF GLOBAL---*/

/*---JQUERY OVERRIDE---*/
/*.private-message-form {
	position: absolute;
	top: -135px;
}*/
.private-message {
	background-color: #E0F3FF;
	border-radius: 5px;
	border: 2px solid #2C3C49;
}
.private-message .content {
	background-color: transparent;
}
.private-message .content .title {
	background-color: #033649;
	width: 94%;
	border-radius: 3px;
	margin-bottom: 1em;
}
.private-message .content .title h5 {
	font-family: inherit;
	font-weight: bold;
	margin: 5px;
}
.private-message .content label {
	display: inline-block;
	padding: 0 1em;
	width: 3.5em;
}
.private-message .content .controls {
	margin: 0 5.85em;
	text-align: left;
}
.popup-wrapper {
	padding: 0 1em 1em;
}
.popup-wrapper .popup-header {
	background-color:#592525;
	color: #fff;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 1em;
	padding: 0 0 0 5px;
    width: 99%;
}
.popup-wrapper .popup-header h6 {
	padding: 0.25em;
}

/*---END OF JQUERY OVERRIDE---*/

/*---ICONS---*/
.icon-testimonial,
.icon-object,
.icon-documentary,
.icon-saving,
.icon-submit-review,
.icon-publish,
.icon-attachment,
.icon-key {
	background:url(../img/sprite.png) no-repeat transparent;
	width: 16px;
	height: 16px;
	position:relative;
	top: 5px;
	display:inline-block;
}
.icon-documentary {
	background-position: 0 0;
}
.icon-testimonial {
	background-position: 0 -50px;
}
.icon-object {
	background-position: 0 -100px;
}
.icon-saving {
	background-position: 0 -150px;
}
.icon-submit-review {
	background-position: 0 -200px;
}
.icon-publish {
	background-position: 0 -250px;
}
.icon-attachment {
	background-position: 0 -300px;
}
.icon-key {
	background-position: 0 -350px;
}
.icon-search-big {
	background:url(../img/search-icon.png) no-repeat;
	width: 30px;
	height: 30px;
	margin: 6px 10px;
}
.icon-flag-default {
	background:url(../img/icons/icon-flag-default.png) no-repeat;
	width:14px;
	height: 13px;
}
.icon-flag-colored {
	background:url(../img/icons/icon-flag-colored.png) no-repeat;
	width:14px;
	height: 13px;
	display:inline-block;
}

.icon-summary,
.icon-facts,
.icon-related-cases,
.icon-note,
.icon-jurisprudence {
	background:url(../img/sprite.png) no-repeat transparent;
	width: 26px;
	height: 26px;
	margin-bottom: 0.25em;
    vertical-align: middle;
	display:inline-block;
}
.icon-summary {
	background-position: -50px 0;
}
.icon-facts {
	background-position: -50px -50px;
}
.icon-related-cases {
	background-position: -50px -100px;
}
.icon-note {
	background-position: -50px -150px;
}
.icon-jurisprudence {
	background-position: -50px -200px;
}

.icon-case-details,
.icon-documents,
.icon-evidence,
.icon-landholding-information,
.icon-party,
.icon-interested-party,
.icon-counsel,
.icon-court,
.icon-payment,
.icon-decision,
.icon-post-judgment,
.icon-execution-judgment,
.icon-relationship,
.icon-case-history,
.icon-assignment-history,
.icon-comments,
.icon-notes,
.icon-billing {
	background: url(../img/case-profile-sprite.png) no-repeat;
	width: 24px;
	height: 24px;
	padding-right: 30px;
	vertical-align: middle;
}
.icon-case-details {
	background-position: 0 0;
}
.icon-documents {
	background-position: 0 -50px;
}
.icon-evidence {
	background-position: 0 -100px;
}
.icon-landholding-information {
	background-position: 0 -150px;
}
.icon-party {
	background-position: 0 -200px;
}
.icon-interested-party {
	background-position: -50px 0;
}
.icon-counsel {
	background-position: -50px -50px;
}
.icon-court {
	background-position: -50px -100px;
}
.icon-payment {
	background-position: -50px -150px;
}
.icon-decision {
	background-position: -50px -200px;
}
.icon-post-judgment {
	background-position: -100px 0;
}
.icon-execution-judgment {
	background-position: -100px -50px;
}
.icon-relationship {
	background-position: -100px -100px;
}
.icon-case-history {
	background-position: -100px -150px;
}
.icon-assignment-history {
	background-position: -100px -200px;
	display: inline-block;
}
.icon-comments {
	background-position: -150px 0;
}
.icon-notes {
	background-position: -150px -50px;
}
.icon-billing {
	background-position: -150px -100px;
}
.m-icon-cases,
.m-icon-complaints,
.m-icon-matters,
.m-icon-contacts {
	width: 14px;
	height: 14px;
	display: inline-block;
}
.m-icon-cases {
	background:url(../img/icons/m-icon-cases.png) no-repeat transparent;
}
.m-icon-matters {
	background:url(../img/icons/m-icon-matters.png) no-repeat transparent;
}
.m-icon-complaints {
	background:url(../img/icons/m-icon-complaints.png) no-repeat transparent;
}
.m-icon-contacts {
	background:url(../img/icons/m-icon-contacts.png) no-repeat transparent;
}

/*---END OF ICONS---*/


/*---NOTIFICATION---*/
.notification {
	background-color: #fff;
    border: 1px solid #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 4px #666;
    position: absolute;
    right: 128px;
    top: 77px;
    width: 300px;
    z-index: 99;
}
.notification:after {
	bottom: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(255, 255, 255, 0); border-bottom-color: #fff; 	border-width: 10px; margin-left: -10px;
}
.notification .notify {
	border-bottom: 1px solid #f4f4f4;
    padding: 10px;
	cursor:pointer;
}
.notification .notify:hover {
	background-color: #f4f4f4;
}
.notification .view-all {
	background-color: #f8f8f8;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
	cursor:pointer;
}
.notification .notify .muted {
	font-size: 11px;
	font-weight: bold;
}
.notify-icon {
	background-color: #ff6600;
    border-radius: 2px;
    bottom: 1px;
    font-size: 11px;
    font-weight: bold;
    left: 16px;
    min-width: 15px;
    padding: 0 3px;
    position: absolute;
    text-align: center;
}
.notify-icon a {
	color:#fff;
	text-decoration: none;
}
.globe {
	bottom: -2px;
    font-size: 20px;
    left: 0;
    min-width: 10px;
    padding: 0 3px;
    position: absolute;
    text-align: center;
    z-index: 9;
}
/*---END OF NOTIFICATION---*/


/*---LOGIN---*/
.login-wrapper {
	height:auto;
	margin: 6em auto 10px auto;
	text-align:left;
	/* width:90%; */
}
.login-wrapper h3 {
	text-align:center;
}
.login-holder {
	/*min-height: 380px;*/
	max-width: 300px;
	margin: 0 auto;
}
.login {
	min-height: 150px;
	border-radius: 3px;
	border: 1px solid #fff;
	background-color:#F9F9F5;
	padding: 20px;
}
.login .input-prepend {
	text-align: center;	
}
.username {
	margin: 25px auto 0;
    text-align: center;
}
.email {
	margin: 10px 0 10px 0;
}
.login-buttons {
	margin-bottom: 20px;
    text-align: center;
}
.logo-name, .logo-name span {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: normal;
	color: #fff;
	text-align: center;
}
.forgot-password {
	text-align: center;
}

/*---END OF LOGIN---*/

/*---DASHBOARD---*/
.dashboard-left {
	width:50%;
}
.dashboard-right {
	width:50%;
}
.dashboard-left-column {
	padding: 1em 2em;
	vertical-align:top;
}
.dashboard-right-column {
	padding: 1em 2em;
	vertical-align:top;
}
.dashboard-title {
	display:inline-block;
	padding: 0;
	border-bottom: 3px solid #033649;
	width: 100%;
}
.dashboard-content {
	padding: 0 0 1em 0;
	/*width: 90%;
	min-height: 405px;*/
}
.reminders .dashboard-content {
	min-height: 150px;
}
.reminders .dashboard-content  .L,
.reminders .dashboard-content .R {
	margin-bottom: 0;
	width: 48%;
}
.reminders .dashboard-content .view {
	margin-bottom: 10px;
}
.dashboard-content .reminder-holder-today {
	background: url(../img/icons/reminder-today.png) no-repeat;
	width: 94px;
	height: 20px;
}
.dashboard-content .reminder-holder-tomorrow {
	background: url(../img/icons/reminder-tomorrow.png) no-repeat;
	width: 94px;
	height: 20px;
}
.dashboard-content .reminder-holder-thisweek {
	background: url(../img/icons/reminder-thisweek.png) no-repeat;
	width: 94px;
	height: 20px;
}
.dashboard-content .reminder-holder-nextweek {
	background: url(../img/icons/reminder-nextweek.png) no-repeat;
	width: 94px;
	height: 20px;
}
.dashboard-content .date {
	font-size: 11px;
	color: #0B486B;
}
.dashboard-content .recent-activities {
	/*margin: 0 0 0.25em 0;
	padding: 0.5em;*/
}
.dashboard-content .recent-activities img {
	width: 36px;
	height:36px;
}
.dashboard-content .recent-activities .L,
.dashboard-content .recent-activities .R {
	margin-bottom: 0;
}
.dashboard-content .recent-activities .thumb {
	margin-right: 0.5em;
}
.dashboard-content .recent-activities .content-holder {
	display:table;
	width: 88%;
}
.announcement-wrapper {
	margin: 0 2em;
}
.announcement-wrapper .announcement {
	margin: 0 auto;
	padding: 1px 10px 10px 15px;
}
.announcement-wrapper .announcement h4 {
	color: #0B486B;
}
/*.buy-widget {
	background:url(../img/buy-widget.png) no-repeat;
	text-align: center;
	width: 200px;
	height: 45px;
	margin-bottom: 5px;
	color: #fff;
}
.buy-widget a {
	color: #fff;
}*/
.buy-widget {
	display: inline-block;
}
.add-panel {
	font-size:14px;
	padding: 1.5em 3.5em 0 0;
}
.panel-icons {
	display: inline-block;
	margin: 0 0 0 -3.5em;
}

/*---END OF DASHBOARD---*/


/*---REMINDERS---*/
.reminder-wrapper {
	margin: 20px auto;
    width: 95%;
}
.reminder-content {
	padding: 1em;
}
.reminder-content .reminder-item .item-check {
	width: 3%;
}
.reminder-content .reminder-item .item {
	width: 97%;
}
.reminder-item {
	border-bottom: 1px dotted #CCCCCC;
    margin: 0 0 0.25em;
}
.reminder-item {
	margin: 0 0 1em 0;
	border-bottom: 1px dotted #CCC
}
.reminder-item .text-1 {
	font-size: 14px;
	font-weight: bold;
}
.reminder-item .text-2, .calendar-item .text-2 a {
	font-size: 12px;
}
.reminder-today,
.reminder-tomorrow,
.reminder-thisweek,
.reminder-nextweek {
    margin: 1em 0 0;
    min-height: 20px;
}
.reminder-today {
	background-color: #DF9C43;
}
.reminder-tomorrow {
	background-color: #92AE7E;
}
.reminder-thisweek {
	background-color: #8A5F68;
}
.reminder-nextweek {
	background-color: #E79075;
}
.reminder-title {
	color: #FFFFFF;
    display: inline-block;
    font-size: 15px;
    padding: 0 1em;
}
/*---END OF REMINDERS---*/

/*---COMPLAINT---*/
.complaint-header {
	background-color: #d9edf7;
	border: 1px dotted #fbeed5;
	padding: 10px;
	margin: 0 0 10px 0;
}
.complaint-header .L {
	width: 46%;
	margin-right: 3em;
}
.complaint-header .docket-no,
.complaint-header .complainant, 
.complaint-header .offense,
.complaint-header .filing-date,
.complaint-header .assigned-to,
.complaint-header .status {
	font-size: 15px;
	font-weight: bold;
}
.complaint-header .filing-date span,
.complaint-header .assigned-to span,
.complaint-header .status span {
	font-weight: normal;
}
.complaint-header .complainant {
	color: #0B486B;
}
.complaint-header .tags .btn-mini {
	line-height: 17px;
	font-size: 10px !important;
}
.complaint-header .tags .input-mini {
	width: 10em;
	height: 13px;
	font-size: 10px;
}
.complaint-content .add-case {
    line-height: 40px;
}
.complaint-content table .col-1 {
	width:10%;
}
.complaint-content table .col-2 {
	width:20%;
}
.complaint-content table .col-3 {
	width:20%;
}
.complaint-content table .col-4 {
	width:15%;
}
.complaint-content table .col-5 {
	width:20%;
}
.complaint-content table .col-6 {
	width:10%;
}
.complaint-content table .col-7 {
	width: 5;
}
.complainants-holder,
.respondents-holder,
.commission-holder,
.witnesses-holder {
	background-color: #f4f4f4;
    padding: 10px;
	margin: 5px;
}
.complainants-view,
.respondents-view,
.commission-view,
.witness-view {
	background-color: #f8f8f8;
	border: 1px dotted #ccc;
    margin: 0 10px;
    padding: 10px;
}
.questions ol li {
	list-style:inherit ;
}
.status-list .col-1 {
	width: 30%;
}
.status-list .col-2 {
	width: 15%;
}
.status-list .col-3 {
	width: 20%;
}
.status-list .col-4 {
	width: 30%;
}
.status-list .col-5 {
	width: 5%;
}

/*---END OF COMPLAINT---*/


/*---CASES---*/
.case-wrapper {
	width: 95%;
	margin: 10px auto;
}
.case-search {
	border-radius: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #F3F3F3;
	/*background-image: -moz-linear-gradient(top, #f9f9f9 0%, #dcdcdc);
	background-image: -ms-linear-gradient(top, #f9f9f9 0%, #dcdcdc);
	background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #dcdcdc);
	background-image: -o-linear-gradient(top, #f9f9f9 0%, #dcdcdc);
	background-image: linear-gradient(top, #f9f9f9 0%, #dcdcdc);*/
}
.case-search .control-group {
	margin-bottom: 0;
}
.case-search .field-name {
	background-color: transparent;
}
.case-search .field-name-extend {
	background-color: transparent;
	margin: 0 0 0 3em;
	/*vertical-align: middle;*/
}
.case-search .num-date {
	width: 8.2em;
}
.case-search .add-on {
	text-align: left;
	width: 2.5em
}
.case-content .table-header {
	font-weight: bold;
	font-size: 14px;
	color: #27547C;
}
.case-content table .col-1 {
	width:15%;
}
.case-content table .col-2 {
	width:10%;
}
.case-content table .col-3 {
	width:23%;
}
.case-content table .col-4 {
	width:14%;
}
.case-content table .col-5 {
	width:20%;
}
.case-content table .col-6 {
	width:16%;
}
.case-content table .col-7 {
	width:2%;
}
.case-content .add-case {
	line-height: 40px;
}
.matters-content .related-matter-match {
	background:url(../img/icons/related-matter-match.png) no-repeat;
	background-position: right;
	text-align: right;
	/*width: 226px;*/
	height:20px;
}
.case-content .related-cases-match {
	background:url(../img/icons/related-cases-match.png) no-repeat;
	background-position: right;
	text-align: right;
	/*width: 226px;*/
	height:20px;
}
.case-content .related-cases-found  {
	background-color: #E5EDC2;
	margin-top: 10px;
}
.case-content .related-cases-found a {
	padding: 15px;
}
.matters-content .related-matter-found  {
	background-color: #FFF2B1;
	margin-top: 10px;
}
.matters-content .related-matter-found a {
	padding: 15px;
}
.matters-content .related-matter-match a,
.case-content .related-cases-match a{
	color: #fff;
	margin: 5px;
}
.case-display {
	margin: 10px 0 10px 15px;
}
.case-form {
	display: inline-block;
}
.case-form form {
	margin: 0 0 8px;
}
.search-advanced {
	margin: 0 1em 0 0;
	text-align: right;
	line-height: 45px;
}

/*---END OF CASES---*/

/*---CASE PROFILE---*/
.case-profile-wrapper {
	margin: 10px auto;
	width: 95%;
	/*min-width: 480px;*/
	min-height: 300px;
}
.case-profile-wrapper .control-group  {
	margin-bottom: 0;
}
.case-profile-wrapper .control-group .controls {
	/*text-align: left;*/
}
.case-profile-wrapper .form-horizontal .control-label {
	width: 170px;
	text-align:left;
}
.case-profile-wrapper .edit-holder {
	text-align: right;
}
.case-profile-wrapper .span2,
.case-profile-wrapper .span10 {
	margin-left: 0;
}
.case-profile-wrapper .span2 .photo-edit .change {
	background-color: #f5f5f5;
	border-radius: 3px 3px 3px 3px;
    margin: 0 auto 1px;
    width: 88%;
}
.case-profile-wrapper .span2 .photo-edit .delete {
	background-color: #f5f5f5;
	border-radius: 3px 3px 3px 3px;
    margin: 0 auto 1em;
    width: 88%;
}
.case-profile-wrapper .span2 .photo-edit {
	text-align: center;
}
.case-profile-wrapper .field-content textarea {
    /*width: 500px;*/
}
.case-profile-wrapper .case-header .field-content textarea {
	width: 206px;
}
.case-profile-wrapper .case-profile .field-content textarea {
    width: 206px;
}
.case-profile-wrapper .field-content .num-date {
    width: 7.5em;
}
.case-profile-wrapper .docs-holder .docs {
	position:relative;
}
.case-profile-wrapper .docs-holder .docs .incoming-outgoing {
	background-color: #632927;
    border: 1px solid #ccc;
    box-shadow: 0 0 8px #ccc;
    color: #FFFFFF;
    padding: 1em;
	position:absolute;
    right: 0;
	display:block;
    text-align: center;
    top: 30px;
	z-index: 999;
}
.case-profile-wrapper .docs-holder .docs .incoming-outgoing a {
	color:#fff;
	padding: 0.25em;
}
.case-profile-wrapper .docs-holder .docs .incoming-outgoing a:hover {
	color: #0B486B;
	background-color: #fff;
	padding: 0.25em;
	text-decoration: none;
}
.case-profile-wrapper .case-profile .party .col-1 {
	width: 20%;
}
.case-profile-wrapper .case-profile .party .col-2 {
	width: 20%;
}
.case-profile-wrapper .case-profile .party .col-3 {
	width: 20%;
}
.case-profile-wrapper .case-profile .party .col-4 {
	width: 20%;
}
.case-profile-wrapper .case-profile .party .col-5 {
	width: 15%;
}
.case-profile-wrapper .case-profile .party .col-6 {
	width: 5%;
}
.case-profile-wrapper .case-profile .counsel .col-1 {
	width: 25%;
}
.case-profile-wrapper .case-profile .counsel .col-2 {
	width: 25%;
}
.case-profile-wrapper .case-profile .counsel .col-3 {
	width: 25%;
}
.case-profile-wrapper .case-profile .counsel .col-4 {
	width: 19%;
}
.case-profile-wrapper .case-profile .counsel .col-5 {
	width: 6%;
}
.case-profile-wrapper .case-profile .court .col-1 {
	width: 25%;
}
.case-profile-wrapper .case-profile .court .col-2 {
	width: 20%;
}
.case-profile-wrapper .case-profile .court .col-3 {
	width: 15%;
}
.case-profile-wrapper .case-profile .court .col-4 {
	width: 34%;
}
.case-profile-wrapper .case-profile .court .col-5 {
	width: 6%;
}
.case-profile-wrapper .case-profile .interested-party .col-1 {
	width: 30%;
}
.case-profile-wrapper .case-profile .interested-party .col-2 {
	width: 30%;
}
.case-profile-wrapper .case-profile .interested-party .col-3 {
	width: 34%;
}
.case-profile-wrapper .case-profile .interested-party .col-4 {
	width: 6%;
}
.case-profile-wrapper .case-profile .payment .col-1 {
	width: 35%;
}
.case-profile-wrapper .case-profile .payment .col-2 {
	width: 30%;
}
.case-profile-wrapper .case-profile .payment .col-3 {
	width: 29%;
	text-align: right;
}
.case-profile-wrapper .case-profile .payment .col-4 {
	width: 6%;
}
.case-profile-wrapper .case-profile .relationship .col-1 {
	width: 15%;
}
.case-profile-wrapper .case-profile .relationship .col-2 {
	width: 45%;
}
.case-profile-wrapper .case-profile .relationship .col-3 {
	width: 20%;
}
.case-profile-wrapper .case-profile .relationship .col-4 {
	width: 14%;
}
.case-profile-wrapper .case-profile .relationship .col-5 {
	width: 6%;
}
.case-profile .party,
.case-profile .counsel,
.case-profile .court,
.case-profile .interested-party {
	position: relative;
}
.case-profile .party h4,
.case-profile .counsel h4,
.case-profile .court h4,
.case-profile .interested-party h4 {
	color: #0B486B;
}
.case-profile .add {
	background-color: #333;
    border: 1px solid #ccc;
    box-shadow: 0 0 8px #ccc;
    color: #FFFFFF;
    padding: 1em;
	position:absolute;
    right: 0;
	display:block;
    text-align: center;
	z-index: 999;
}
.case-profile .add a {
	color:#fff;
	display: block;
	padding: 2px;
}
.case-profile .add a:hover {
	color: #0B486B;
	background-color: #fff;
	padding: 2px;
	text-decoration: none;
}
.case-profile,
.case-brief,
.activities-holder,
.docs-holder {
	margin: 0 0 0 10px;
}
.case-profile .edit {
	line-height: 40px;
	margin-right: 10px;
}
.case-profile .sub {
	line-height: 40px;
	text-align: right;
}
.case-profile .table-header {
	color: #27547C;
    font-size: 14px;
    font-weight: bold;
}
.case-profile .input-append .field-name {
	margin-right: 4px;
}
.case-profile .court-fees-wrapper .court-fees .col-1 {
	width: 27%;
	vertical-align: middle;
}
.case-profile .court-fees-wrapper .court-fees .col-2 {
	width: 20%;
	text-align: right;
	vertical-align: middle;
}
.case-profile .court-fees-wrapper .court-fees .col-3 {
	width: 20%;
	text-align: right;
	vertical-align: middle;
}
.case-profile .court-fees-wrapper .court-fees .col-4 {
	width: 30%;
	text-align:center;
}
.case-profile .court-fees-wrapper .court-fees .col-5 {
	width: 3%;
}
.case-profile .court-fees-wrapper .court-fees .col-2 input,
.case-profile .court-fees-wrapper .court-fees .col-3 input {
	text-align: right;
}
.case-profile .outgoing-holder {
	border: 1px dotted #ccc;
	padding: 1em;
	margin-bottom: 2em;
}
.case-header {
	background-color: #fcf8e3;
    border: 1px dotted #fbeed5;
	padding: 10px;
	margin: 0 0 10px 0;
}
.case-header .L {
	width: 46%;
	margin-right: 3em;
}
.case-header .file-no,
.case-header .case-no, 
.case-header .case-title,
.case-header .case-category,
.case-header .filing-date,
.case-header .date-assigned,
.case-header .status,
.case-header .next-action-due,
.case-header .assigned-to,
.case-header .next-stage,
.case-header .relief {
	font-size: 15px;
	font-weight: bold;
}
.case-header .filing-date span,
.case-header .date-assigned span,
.case-header .status span,
.case-header .next-action-due span,
.case-header .assigned-to span,
.case-header .next-stage span,
.case-header .relief span  {
	font-weight: normal;
}
.case-header .case-title {
	color: #0B486B;
}
.case-header .tags .btn-mini {
	line-height: 17px;
	font-size: 10px !important;
}
.case-header .tags .input-mini {
	width: 10em;
	height: 13px;
	font-size: 10px;
}
.case-header .control-group .controls {
	/*margin-right: 1.85em;*/
}
/*.case-header .control-group .field-content textarea {
	width: 500px;
}*/
.case-brief .summary,
.case-brief .facts,
.case-brief .issues,
.case-brief .laws,
.case-brief .related,
.case-brief .notes {
	margin-right: 10px;
}
.case-brief .summary h4,
.case-brief .facts h4,
.case-brief .issues h4,
.case-brief .laws h4,
.case-brief .related h4,
.case-brief .notes h4 {
	color: #0B486B;
	border-bottom: 2px solid #ededed;
	margin: 0 6.75em 1em;
}
.case-brief .edit {
	margin-right: 10px;
}
.case-brief .facts .facts-edit .row-fluid .field-content input[type="checkbox"]  {
	vertical-align:top;
}
.case-brief .facts .evidence-badges {
	/*border-bottom: 1px dotted #CCCCCC;*/
	text-align: right;
    height: 20px;
	display: inline-block;
}
.case-brief .facts .evidence-badges .testimonial,
.case-brief .facts .evidence-badges .object,
.case-brief .facts .evidence-badges .documentary,
.case-brief .facts .evidence-badges .admitted,
.case-brief .facts .evidence-badges .destroyed,
.case-brief .facts .evidence-badges .excluded,
.case-brief .facts .evidence-badges .released,
.case-brief .facts .evidence-badges .reserved,
.case-brief .facts .evidence-badges .surrendered,
.case-brief .facts .evidence-badges .attachment  {
	width:10%;
	text-align:center;
}
.case-brief .facts .evidence-badges .testimonial {
	background-color: #F5F5F5;
    border-radius: 3px 3px 3px 3px;
	width: 120px;
}
.case-brief .facts .evidence-badges .object {
	background-color: ;
}
.case-brief .facts .evidence-badges .documentary {
	background-color: ;
}
.case-brief .facts .evidence-badges .admitted {
	background-color: #F5F5F5;
    border-radius: 3px 3px 3px 3px;
	width: 90px;
}
.case-brief .facts .evidence-badges .destroyed {
	background-color: ;
}
.case-brief .facts .evidence-badges .excluded {
	background-color: ;
}
.case-brief .facts .evidence-badges .released {
	background-color: #F5F5F5;
    border-radius: 3px 3px 3px 3px;
	width: 90px;
}
.case-brief .facts .evidence-badges .reserved {
	background-color: ;
}
.case-brief .facts .evidence-badges .surrendered {
	background-color: ;
}
.case-brief .facts .evidence-badges .attachment {
	background-color: #F5F5F5;
    border-radius: 3px 3px 3px 3px;
	width: 30px;
}
.case-brief .laws-edit,
.case-brief .issues-edit ,
.case-brief .notes-edit,
.case-brief .summary-edit,
.case-brief .facts-edit {
	background-color: #f5f5f5;
	padding: 1em 0;
	margin: 0 10em 1em;
}
.case-brief .laws-edit .controls,
.case-brief .issues-edit .controls ,
.case-brief .notes-edit .controls,
.case-brief .summary-edit .controls,
.case-brief .facts-edit .controls {
	width: 56%;
}
/*.case-brief .laws-edit .field-content textarea,
.case-brief .issues-edit .field-content textarea ,
.case-brief .notes-edit .field-content textarea,
.case-brief .summary-edit .field-content textarea ,
.case-brief .facts-edit .field-content textarea {
	width: 58%;
}*/
.case-brief .laws-edit .controls,
.case-brief .issues-edit .controls,
.case-brief .notes-edit .controls ,
.case-brief .summary-edit .controls,
.case-brief .facts-edit .controls {
	margin-right: 2.75em;
}
.timeframe-holder {
	width: 10%;
	min-height: 400px;
	margin: 0;
}
.timeframe {
	background:url(../img/line.png) repeat-y scroll 0 0 transparent;
	position: relative;
	left: 5px;
	width: 80px;
}
.time-frame {
	border-top: 3px solid #f5f5f5;
    margin-top: 10px;
	width:96%;
}
.arrow {
	position: relative;
	left: 0;
}
.timenode {
	background-color: #f5f5f5;
	width: 80px;
	margin: 0 10px 10px 10px;
	padding-left: 25px;
	position: relative;
	left: -28px;
}
.time-node {
	padding: 5px 10px;
	background-color: #f5f5f5;
}
.timeframe a:hover,
.time-frame a:hover {
	text-decoration: none;
}
.timeframe a:hover .timenode,
.time-frame a:hover .time-node {
	background-color:#0E6393;
	color: #fff;
}
/*.milestone {
	background-color: #033649;
	color: #fff;
	font-weight: bold;
	margin: 0 0 10px 10px;
	padding-left: 5px;
	width: 100px;
	position: relative;
	left: -28px;
}*/
.milestone {
	background-color: #999;
    color: #FFFFFF;
    font-weight: bold;
}
.milestone-title {
	background-color: #033649;
	color: #fff;
	padding: 5px 10px;
}
.docs-holder .docs .col-1 {
	width: 28%;
}
.docs-holder .docs .col-2 {
	width: 35%;
}
.docs-holder .docs .col-3 {
	width: 30%;
}
.docs-holder .docs .col-4 {
	width: 7%;
}
.activities {
	height:400px;
	min-height: 400px;
	min-width: 370px;
	width: 89%;
	overflow-y: scroll;
}
.activities-new {
	/*min-height: 400px;*/
	min-width: 370px;
}
.activities-holder #milestone {
	text-align: right;
}
.activities-holder #milestone .num-date {
	width: 6em;
}
.activities-holder .add-activity {
	margin-left: 1em;
}
.activities-holder .pretrial-legend {
	background-color: #F29811;
}
.activities-holder .trial-legend {
	background-color: #536199;
}
.activities-holder .submitted-legend {
	background-color: #C21A01;
}
.activities-holder .arraignment-legend {
	background-color: #519548;
}
.activities-holder .month-timeline .trial a {
	border-bottom: 4px solid #536199;
}
.activities-holder .month-timeline .pretrial a {
	border-bottom: 4px solid #F29811;
}
.activities-holder .month-timeline .submitted a {
	border-bottom: 4px solid #C21A01;
}
.activities-holder .month-timeline .arraignment a {
	border-bottom: 4px solid #519548;
}
.activities-holder .month-timeline .pretrial-hover {
	background-color: #F29811;
	color: #fff;
    min-width: 6.23%;
    padding: 0 5px;
    position: absolute;
    text-align: left;
}
.activities-holder .month-timeline .trial-hover {
	background-color: #536199;
	color: #fff;
    min-width: 6.23%;
    padding: 0 5px;
    position: absolute;
    text-align: left;
}
.activities-holder .month-timeline .submitted-hover {
	background-color: #C21A01;
	color: #fff;
    min-width: 6.23%;
    padding: 0 5px;
    position: absolute;
    text-align: left;
}
.activities-holder .month-timeline .arraignment-hover {
	background-color: #519548;
	color: #fff;
    min-width: 6.23%;
    padding: 0 5px;
    position: absolute;
    text-align: left;
}
.activities-holder .month-timeline h5 {
	line-height: 0;
}
.activities-holder .month-timeline a {
	border-bottom: 4px solid #CCCCCC;
	border-top:0;
    display: block;
    margin-top: -20px;
}
.activities-holder .month-timeline a:hover { 
	border-bottom: 4px solid #999;
	border-top: 0;
	text-decoration: none;
}
.activities-holder .month-timeline .active {
	border-bottom: 4px solid #033649;
	border-top:0;
    display: block;
    margin-top: -20px;
}
.activities-holder .month-timeline .active a {
	border-bottom: 0;
}
.activities-holder .month-timeline .marker {
	margin-left: -2px;
    margin-top: -13px;
    position: absolute;
}
.activities .table-header,
.activities-new .table-header,
.tracking-content .table-header,
.docs .table-header {
	font-weight: bold;
	font-size: 14px;
	color: #27547C;
}
.activities .completed,
.activities .overdue,
.activities .reminder,
.activities-new .completed,
.activities-new .overdue,
.activities-new .reminder,
.status-list .completed,
.status-list .overdue,
.status-list .reminder {
	color: #fff;
	font-size: 10px;
    font-weight: bold;
	padding: 2px;
}
.activities .completed,
.activities-new .completed,
.status-list .completed {
	background-color: #0088E4;
}
.activities .overdue,
.activities-new .overdue,
.status-list .overdue {
	background-color: #900;
}
.activities .reminder,
.activities-new .reminder,
.status-list .reminder {
	background-color: #FF9966;
}
.activities .col-1 {
	width: 30%;
}
.activities .col-2 {
	width: 20%;
}
.activities .col-3 {
	width: 30%;
}
.activities .col-4 {
	width: 15%;
}
.activities .col-5 {
	width: 5%;
}

.activities-new .col-1 {
	width: 10%;
}
.activities-new .col-2 {
	width: 30%;
}
.activities-new .col-3 {
	width: 30%;
}
.activities-new .col-4 {
	width: 25%;
}
.activities-new .col-5 {
	width: 5%;
}

.activities .total-hours,
.activities .total-expenses {
	font-weight: bold;
	font-size: 14px;
}
.activities .hours,
.activities .expenses {
	text-align: right;
}
.activities .add-time,
.activities .add-expenses {
	text-align: left;
}
.edit-activities {
	/*border-bottom: 2px solid #F5F5F5;*/
	min-height: 400px;
}
.edit-activities .num-date {
	width: 8.2em;
}
.edit-activities .add-on {
	width: 2.5em;
	text-align: left;
}
.edit-activities .duration-days,
.edit-activities .reminder-days {
	width: 2em;
}
.edit-activities .span6 {
	margin: 0 6em 0 1em;
}
.edit-activities .span6 {
	margin: 0 0 0 1em;
}
/*.activities .add-time {
	width: 70%;
}
.activities .total-hours {
	width: 15%;
}
.activities .hours {
	width: 15%;
}*/
.tracking-content .buttons-time-expense {
	line-height: 40px;
}
.tracking-content .grand-total {
	/*border-top: 2px solid #f5f5f5;*/
}
.tracking-content .grand-total .total-billable {
	margin-top: 10px;
}
.tracking-content .grand-total .total {
	width: 145px;
}
.tracking-content .grand-total .total-billable .billable-amount,
.tracking-content .grand-total .total-nonbillable .nonbillable-amount,
.tracking-content .grand-total .total-expenses .expenses-amount {
	width: 10%;
	text-align: right;
}
.tracking-content .grand-total .total-billable .L,
.tracking-content .grand-total .total-nonbillable .L,
.tracking-content .grand-total .total-expenses .L {
	margin-bottom: 0;
}
.tracking-content #time table .col-1 {
	width: 10%;
}
.tracking-content #time table .col-2 {
	width: 25%;
}
.tracking-content #time table .col-3 {
	width: 40%;
}
.tracking-content #time table .col-4 {
	width: 20%;
}
.tracking-content #time table .col-5 {
	width: 5%;
}
.tracking-content #expense table .col-1 {
	width: 10%;
}
.tracking-content #expense table .col-2 {
	width: 25%;
}
.tracking-content #expense table .col-3 {
	width: 40%;
}
.tracking-content #expense table .col-4 {
	width: 20%;
	text-align: right;
}
.tracking-content #expense table .col-5 {
	width: 5%;
}
.tracking-content #both table .col-1 {
	width: 10%;
}
.tracking-content #both table .col-2 {
	width: 20%;
}
.tracking-content #both table .col-3 {
	width: 33%;
}
.tracking-content #both table .col-4 {
	width: 20%;
}
.tracking-content #both table .col-5 {
	width: 12%;
	text-align: right;
}
.tracking-content #both table .col-6 {
	width: 5%;
}
.tracking-content table th,
.tracking-content table td {
	vertical-align: middle;
}
.tracking-content table input[type="checkbox"] {
	margin: 0;
}
.tracking-content table .hrs {
	width: 40px;
}
.tracking-content table .total-hours {
	text-align: right;
}
.history-item {
	border-bottom: 1px dotted #ccc;
	padding: 0 0 5px;
}
.history-item p {
	margin: 0;
}
/*---END OF CASE PROFILE---*/


/*---MATTERS---*/
.matters-wrapper {
	width: 95%;
	margin: 10px auto;
}
.matters-wrapper .edit-holder {
	text-align: right;
}
.matters-header {
	background-color: #F1FADD;
	border: 1px dotted #dedede;
	padding: 10px;
	margin: 0 0 10px 0;
}
.matters-header .L {
	width: 46%;
	margin-right: 3em;
}
.matters-header .file-no, 
.matters-header .case-no, 
.matters-header .case-title,
.matters-header .case-category,
.matters-header .filing-date,
.matters-header .date-assigned,
.matters-header .status,
.matters-header .next-action-due,
.matters-header .assigned-to {
	font-size: 15px;
	font-weight: bold;
}
.matters-header .filing-date span,
.matters-header .date-assigned span,
.matters-header .status span,
.matters-header .next-action-due span,
.matters-header .assigned-to span {
	font-weight: normal;
}
.matters-header .case-title {
	color: #0B486B;
}
.matters-header .tags .btn-mini {
	line-height: 17px;
	font-size: 10px !important;
}
.matters-header .tags .input-mini {
	width: 10em;
	height: 13px;
	font-size: 10px;
}
.matters-header .control-group .controls {
	margin-right: 1.85em;
}
.matters-wrapper .buttons-time-expense {
	line-height: 40px;
}
.matters-wrapper .both .table-header {
	color: #27547C;
    font-size: 14px;
    font-weight: bold;
}
.matters-wrapper .both .col-1 {
}
.matters-wrapper .both .col-2 {
}
.matters-wrapper .both .col-3 {
}
.matters-wrapper .both .col-4 .hrs {
	width: 40px;
}
.matters-wrapper .both .col-5 {
	text-align: right;
}
.matters-wrapper .both .col-6 {
}
.matters-wrapper .L .num-date {
	width: 7.5em;
	margin-left: 4px;
}
@media (max-width: 768px) {
.matters-wrapper .L .num-date {
    width: 5.2em;
}
}
.matters-wrapper .control-group .L .num-date {
	margin-left: 0;
}
.matters-wrapper .matters-header .row-fluid .num-date {
	width: 7.5em;
	margin-left: 4px;
}
/*.matters-wrapper .L .field-content textarea {
	width: 500px;
}*/
.matters-wrapper #edit_case_details .L .field-content textarea {
	width: 206px;
}
.matters-search {
	border-radius: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #F3F3F3;
	/*background-image: -moz-linear-gradient(top, #f9f9f9 0%, #dcdcdc);
	background-image: -ms-linear-gradient(top, #f9f9f9 0%, #dcdcdc);
	background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #dcdcdc);
	background-image: -o-linear-gradient(top, #f9f9f9 0%, #dcdcdc);
	background-image: linear-gradient(top, #f9f9f9 0%, #dcdcdc);*/
}
.matters-search .control-group {
	margin-bottom:0;
}
.matters-search .field-name,
.matters-search .field-name-extend {
	background-color: transparent;
}
.matters-search .add-on {
    text-align: left;
    width: 2.5em;
}
.matters-search .num-date {
    width: 8.2em;
}
.matters-search .span6 .row-fluid button {
	margin-bottom: 10px;
}
.matters-advanced {
	margin: 0 1em 0 0;
	text-align: right;
	line-height: 45px;
}
.matters-display {
	margin: 10px 0 10px 15px;
}
.matters-content .add-matter {
	line-height: 40px;
}
.matters-content .table-header {
	font-weight: bold;
	font-size: 14px;
	color: #27547C;
}
.matters-content table .col-1 {
	width:13%;
}
.matters-content table .col-2 {
	width:25%;
}
.matters-content table .col-3 {
	width:20%;
}
.matters-content table .col-4 {
	width:12%;
}
.matters-content table .col-5 {
	width:15%;
}
.matters-content table .col-6 {
	width:15%;
}
.matters-content table .col-7 {
	width:5%;
}
.matters-wrapper .comment-wrapper table p {
	margin: 0;
}
.matters-wrapper .comment-wrapper table img {
	width: 40px;
	height:40px;
}
.matters-wrapper .comment-wrapper table .col-1 {
	width: 8%;
}
.matters-wrapper .comment-wrapper table .col-2 {
	width: 82%;
}
.matters-wrapper .comment-wrapper table .col-3 {
	width: 10%;
}
/*---END OF MATTERS---*/


/*---CALENDAR---*/
.calendar-wrapper {
	width: 95%;
	margin: 20px auto;
}
.calendar-header {
	background-color: #632927;
	padding: 5px;
	margin: 10px 0 10px;
	color: #fff;
}
.calendar-title {
	padding: 0 1em;
	display: inline-block;
	color:#FFFFFF;
}
.calendar-content {
	padding: 1em;
}
.calendar-wrapper .calendar-content a {
	font-size:14px;
}
.calendar-wrapper .year {
	font-size: 50px;
}
.calendar-wrapper .month {
	font-size: 30px;
	color:#900;
	line-height: 15px;
	display: inline-block;
}
/*.calendar-wrapper .time {
	font-size: 20px;
	line-height: 5px;
	display: inline-block;
}*/
.calendar-wrapper .header {
	background-image:none;
	background-color: #f5f5f5;
    font-size: 14px;
    font-weight: bold;
}
/*.calendar-wrapper .weekend {
	background-color: #FFFFF1;
}*/
.calendar-wrapper .date {
	font-size: 20px;
}
.calendar-wrapper .date-weekend {
	font-size: 20px;
	font-weight: bold;
	color:#ccc;
}
.calendar-wrapper .item {
	width: 14.3%;
	/*height: 100px;
	min-height: 300px;*/
}
/*.calendar-wrapper .item-holder {
	min-height: 150px;
}*/
.calendar-wrapper .item-holder-monthly {
	min-height:115px;
}
.calendar-wrapper label {
	white-space: normal;
	font-weight: normal;
	color: #666;
	text-shadow: none;
	margin: 0 5px 5px 0;
}
.calendar-wrapper .label-arraignment {
	background-color: #96D590;
}
.calendar-wrapper .label-pretrial {
	background-color: #91D9E2;
}
.calendar-wrapper .label-trial {
	background-color: #F4E7C7;
}
.calendar-wrapper .label-judgment {
	background-color: #F9D1A9;
}
.calendar-wrapper .label-commitment {
	background-color: #FFE173;
}
.calendar-wrapper .col-1, 
.calendar-wrapper .col-2,
.calendar-wrapper .col-3,
.calendar-wrapper .col-4,
.calendar-wrapper .col-5,
.calendar-wrapper .col-6,
.calendar-wrapper .col-7 {
	
}
.calendar-wrapper .btn-group {
	
}
.calendar-content .calendar-item .item-check {
	width: 3%;
}
.calendar-content .calendar-item .item {
	width: 93%;
	margin: 0 5px;
}
.calendar-item {
	margin: 0 0 1em 0;
	border-bottom: 1px dotted #CCC
}
.calendar-item .text-1 {
	font-size: 14px;
	font-weight: bold;
}
.calendar-item .text-2, .calendar-item .text-2 a {
	font-size: 12px;
}
.calendar-item .text-3,
.calendar-item .text-4,
.calendar-item .text-5 {
}
.calendar-item .empty {
	width:23px;
}
.timeline {
	border: 2px solid #dedede;
	margin: 0 0 30px 0;
}
.timeline-year {
	border: 1px solid #dedede;
	margin: 5px 0 20px;
	width: 50%;
}
.month-timeline {
	width: 8%;
	text-align: center;/*
	margin: 10px 0;*/
}
.year-timeline {
	width: 10%;
	text-align: center;
}
.month-timeline span {
	border-top: 4px solid #033649;
	display:block;
}
.month-timeline a {
	border-top: 4px solid #ccc;
	display: block;
}
.month-timeline a:hover { 
	border-top: 4px solid #999;
}
.year-timeline span {
	border-top: 2px solid #000;
	display:block;
}
.year-timeline a {
	border-top: 2px solid #ccc;
	display: block;
}
.year-timeline a:hover { 
	border-top: 2px solid #000;
}

/*---END OF CALENDAR---*/

/*---CONTACTS---*/
.contact-wrapper {
	width: 95%;
	margin: 10px auto;
}
.contact-search {
	border-radius: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #F3F3F3;
	/*background-image: -moz-linear-gradient(top, #f9f9f9 0%, #dcdcdc);
	background-image: -ms-linear-gradient(top, #f9f9f9 0%, #dcdcdc);
	background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #dcdcdc);
	background-image: -o-linear-gradient(top, #f9f9f9 0%, #dcdcdc);
	background-image: linear-gradient(top, #f9f9f9 0%, #dcdcdc);*/
	margin:0;
}
.contact-search .control-group {
	margin-bottom: 0;
}
.total-display  {
	margin: 0;
	padding: 0 0 0 0.5em;
}
.contact-form {
	display: inline-block;
}
.contact-form form {
	margin: 0 0 8px;
}
.contact-title {
	font: 18px/40px Verdana, Geneva, sans-serif;
	color: #27547C;
	padding: 0 0.5em 0 0;
	margin:3px 0 0 0;
	display: inline-block;
	vertical-align: middle;
}
.contact-display, .contact-legend {
	margin: 10px 0 10px 15px;
}
.contact-legend .label-info {
	background-color: #604878;
}
.contact-display {
	display: inline-block;
}
.contact-list {
	width: 85%;
	height: 515px;
	display: inline-block;
	overflow-x: hidden;
    overflow-y: scroll;
}
.contact-wrapper .contact-list small a:hover .contact-holder {
	background-color: #f5f5f5;
}
.contact-content {
	margin: 0;
	padding: 0 0 0 0.5em;
}
.contact-content .span4 .sort ul {
 	margin: 0 0 10px;
}
.contact-details {
	/*width: 59%;*/
	height:515px;
	display: inline-block;
	overflow-x: hidden;
    overflow-y: scroll;
	min-width: 100%;
}
.contact-details .related-cases {
	font-weight: bold;
	font-size: 14px;
	border-bottom: 1px dotted #CCCCCC;
}
.contact-details .edit {
	margin: 0 1em 0 0;
	text-align: right;
}
.contact-details .thumb {
	display: inline-block;
	width: 128px;
	height: 128px;
	padding: 0 0.5em 0 0;
	margin: 0 0 1em 0;
	vertical-align:top;
}
@media only screen and (-webkit-min-device-pixel-ratio:0) {
.contact-details .thumb {
	width: 80px;
	height: 80px;
}
}
@media (min-width: 480px) and (max-width: 1024px) {
.contact-details .thumb {
	width: 80px;
	height: 80px;
}
}
.contact-details .edit-thumb {
	text-align:center;
}
.contact-details .field {
	display: inline-block;
	margin: 0 0 0 0.5em;
}
.contact-details .comments {
	border-bottom: 1px dotted #ccc;
	margin: 0 1em 0 0;
	font-size: 14px;
	font-weight: bold;
}
.contact-details .comments-holder {
	margin: 1em;
}
.contact-details .comments-holder .user {
	padding: 0;
	font-size:11px;
	color: #ccc;
}
.sort {
	/*width: 5%;*/
	display: inline-block;
	margin: 0 1em 0 0;
}
.legend-holder {
	margin: 0;
	padding: 0 0 0 0.5em;
}
.add-contact {
	display: inline-block;
	margin: 1em 1em 0 0;
	text-align:right;
}
.contact-holder {
	width: 100%;
	margin: 0 10px 10px 0;
}
.contact-holder .red {
	border-right: 3px solid #B94A48;
}
.contact-holder .green {
	border-right: 3px solid #468847;
}
.contact-holder .purple {
	border-right: 3px solid #483078;
}
.contact-holder .thumb {
	display: inline-block;
	width: 32px;
	height: 32px;
	padding: 0 0.5em 0 0;
}
.category {
	font-weight: bold;
	font-size: 16px;
}
.text {
	margin: 0 0 0 4.5em;
}

/*---END OF CONTACTS---*/

/*---DOCUMENTS---*/
.document-wrapper {
	width: 95%;
	margin: 10px auto;
}
.document-search {
	border-radius: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #F3F3F3;
	/*background-image: -moz-linear-gradient(top, #f9f9f9 0%, #dcdcdc);
	background-image: -ms-linear-gradient(top, #f9f9f9 0%, #dcdcdc);
	background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #dcdcdc);
	background-image: -o-linear-gradient(top, #f9f9f9 0%, #dcdcdc);
	background-image: linear-gradient(top, #f9f9f9 0%, #dcdcdc);*/
}
.document-search .control-group {
	margin-bottom: 0;
}
.document-search .field-name {
	background-color: transparent;
}
.document-search .field-name-extend {
	background-color: transparent;
	margin: 0 0 0 3em;
	/*vertical-align: middle;*/
}
.document-search .num-date {
	width:8.20em;
}
@media (max-width: 768px) {
.document-search .num-date {
	width: 5.2em;
}
}
.document-search .add-on {
	width: 2.5em;
	text-align: left;
}
.document-content .add-document {
	line-height: 40px;
}
.document-content .table-header {
	font-weight: bold;
	font-size: 14px;
	color: #27547C;
}
.document-content table .col-1 {
	width:15%;
}
.document-content table .col-2 {
	width:40%;
}
.document-content table .col-3 {
	width:42%;
}
.document-content table .col-4 {
	width:3%;
}
.document-display {
	margin: 10px 0 10px 15px;
}
.document-viewer {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 800px;
	text-align:center;
	margin: 0;
}
.document-view {
	padding: 1em;
}
.document-view .span3 {
	margin: 0;
	width: 370px;
}
.document-view .field-name {
	display: block;
	width: 100%;
	padding:0;
}
#editor {
	max-height:1000px;
	height: 1000px;
	background-color: white;
	border-collapse: separate; 
	border: 1px solid rgb(204, 204, 204); 
	padding: 4px; 
	box-sizing: content-box; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px; border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; border-top-left-radius: 3px;
	overflow: scroll;
	outline: none;
}
#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu a {
  cursor: pointer;
}

/*---END OF DOCUMENTS---*/

/*---BILLING---*/
.billing-wrapper {
	width: 95%;
	min-height: 400px;
	margin: 10px auto;
}
.billing-search {
	border-radius: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #F3F3F3;
	/*background-image: -moz-linear-gradient(top, #f9f9f9 0%, #dcdcdc);
	background-image: -ms-linear-gradient(top, #f9f9f9 0%, #dcdcdc);
	background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #dcdcdc);
	background-image: -o-linear-gradient(top, #f9f9f9 0%, #dcdcdc);
	background-image: linear-gradient(top, #f9f9f9 0%, #dcdcdc);*/
}
.billing-search .field-name {
	background-color: transparent;
	margin: 0 0 0 3em;
}
.billing-search .field-name-extend {
	background-color: transparent;
	margin: 0 0 0 3em;
	/*vertical-align: middle;*/
}
.billing-search .num-date {
	width:8.20em;
}
.billing-search .add-on {
	width: 2.5em;
	text-align: left;
}
.billing-search .control-group {
	margin-bottom: 0;
}
.billing-content .table-header,
.billing-create .table-header {
	font-weight: bold;
	font-size: 14px;
	color: #27547C;
}
.billing-display {
	margin: 10px 0 10px 15px;
}
.billing-content table .col-1 {
	width:15%;
}
.billing-content table .col-2 {
	width:15%;
}
.billing-content table .col-3 {
	width:40%;
}
.billing-content table .col-4 {
	width:20%;
}
.billing-content table .col-5 {
	width:10%;
	text-align: right;
}
.billing-content .create {
	line-height: 40px;
	margin-right: 10px;
	text-align: right;
}
.billing-create .case-matter {
	background-color: #fffff1 !important;
}
.billing-create table .col-1 {
	width: 10%;
}
.billing-create table .col-2 {
	width: 75%;
}
.billing-create table .col-3 {
	width: 15%;
	text-align: right;
}
.billing-create table .total-amount {
	text-align: right;
	font-weight: bold;
}
.bill-holder .add_fund .table-header {
	color: #27547C;
    font-size: 14px;
    font-weight: bold;
}
.bill-holder .add_fund table .col-1 {
	width: 12%;
}
.bill-holder .add_fund table .col-2 {
	width: 67%;
}
.bill-holder .add_fund table .col-3 {
	width: 15%;
	text-align: right;
}
.bill-holder .add_fund table .col-4 {
	width: 6%;
}
.bill-holder .add_fund #add_fund td .amount {
	text-align: right;
}
.bill-holder .arrangement h5,
.bill-holder .time-expenses-summary h5 {
    color: #0B486B;
}
.bill-holder .arrangement .L {
	vertical-align: middle;
	margin: 0 3em 0 0;
}
.bill-holder .arrangement .amount {
	text-align: right;
}
/*.bill-holder .arrangement .add-on,
.bill-holder .arrangement .input-mini {
	height: 14px;
	line-height: 14px;
	font-size: 12px;
}
.bill-holder .arrangement #lawyers .add-on,
.bill-holder .arrangement #lawyers .input-mini {
	height: 20px;
	line-height: 20px;
}*/
.bill-holder .time-expenses-summary {
    background-color: #FFFFF1;
    border: 1px dotted #CCCCCC;
    padding: 1em;
}
.bill-holder .time-expenses-summary .grand-total .total {
	margin: 0 4em 0 0;
}
.bill-holder .time-expenses-summary .grand-total .R {
	text-align: right;
}
.bill-holder .time-expenses-summary .grand-total .R .total-all {
	border-top: 1px dotted #333;
}
/*---END OF BILLING---*/

/*---START OF LIBRARY---*/

.library-content .table-header {
	font-weight: bold;
	font-size: 14px;
	color: #27547C;
}
.library-content table .col-1 {
	width:15%;
}
.library-content table .col-2 {
	width:20%;
}
.library-content table .col-3 {
	width:65%;
}

/*---END OF LIBRARY---*/
