﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
     <title>DOJ - National Prosecution Service</title>

    <link rel="shortcut icon" type="image/x-icon" href="http://localhost:8080/Opentides/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css">

    <link rel="stylesheet" type="text/css" href="/css/footable-0.1.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-notify.css">
    <link rel="stylesheet" type="text/css" href="/css/opentides-3.0.1.css">
    <link rel="stylesheet" type="text/css" href="/css/select2.css">
    <link rel="stylesheet" type="text/css" href="/css/datepicker.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-modal.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-dialog.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <telerik:RadStyleSheetManager ID="RadStyleSheetManager1" runat="server" />
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>

<body>
    <form id="form1" runat="server">
    <telerik:RadScriptManager ID="RadScriptManager1" runat="server" EnableCdn="true">
        <Scripts>
            <%--Needed for JavaScript IntelliSense in VS2010--%>
            <%--For VS2008 replace RadScriptManager with ScriptManager--%>
            <asp:ScriptReference Assembly="Telerik.Web.UI" Name="Telerik.Web.UI.Common.Core.js" />
            <asp:ScriptReference Assembly="Telerik.Web.UI" Name="Telerik.Web.UI.Common.jQuery.js" />
            <asp:ScriptReference Assembly="Telerik.Web.UI" Name="Telerik.Web.UI.Common.jQueryInclude.js" />
        </Scripts>
    </telerik:RadScriptManager>
    
     <script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script>	
    <script type="text/javascript" src="/js/jquery.deserialize.js"></script>	
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/footable-0.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap-notify.js"></script>
    <script type="text/javascript" src="/js/bootbox.min.js"></script>
    <script type="text/javascript" src="/js/select2.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/js/bootstrap-dialog.js"></script>
    <script type="text/javascript" src="/js/opentides-3.0.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/js/bootstrap-modalmanager.js"></script>
    <script type="text/javascript" src="/js/jquery.form.js"></script>

    <script type="text/javascript">
        //Put your JavaScript code here.
    </script>
    <telerik:RadAjaxManager ID="RadAjaxManager1" runat="server">
    </telerik:RadAjaxManager>
    <telerik:RadSkinManager ID="RadSkinManager1" runat="server" Skin="MetroTouch" ShowChooser="true">
    </telerik:RadSkinManager>
    	<div class="notifications top-right"></div>
		<div id="wrap">
	    <div id="nav" class="navbar navbar-inverse navbar-static-top">
            	<div class="navbar-inner">
                	<div class="container">
                    	<div class="span6">
                    	<a class="brand" href="index.html">
                        	<img src="img/logo-inner.png">
                        </a>
                        </div>
                        <div class="span6">
                            <div class="user-wrapper double-height pull-right">
                            <div class="globe"><i class="icon-globe"></i></div>
                            <div class="notify-icon"><a id="btn-notification" href="javascript:;" onClick="show('notification')">3</a></div>
                            <div class="user-image pull-left"><img src="img/user-image.png"></img></div>
                            <div class="user">Jose Fernando Lopez <br>
                                <span class="btn-link">Profile</span> &bull;
                                <span class="btn-link">Account</span> &bull;
                                <span class="btn-link"><a href="login.html"> Logout</a></span>
                            </div>
                            </div>
                            <!--Notification-->
                            <div id="notification" class="notification" style="display:none;">
                                <div class="notify"><span class="muted">Oct. 24, 2014 - 10:00 AM</span><br><span>New Case Added: 7917</span></div>
                                <div class="notify"><span class="muted">Oct. 20, 2014  - 12:00 PM</span><br><span>You have 2 hearings to attend today.</span></div>
                                <div class="notify"><span class="muted">Oct. 18, 2014  - 03:00 PM</span><br><span>You have 4 Actions Overdue to review.</span></div>
                                <div class="view-all"><a href="javascript:;">View all</a></div>
                            </div>
                        </div>
                        
                    </div>
                </div>
				<div class="navbar-inner change-inner">
					<div class="container">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
						</a>
						<div class="nav-collapse collapse">
							<ul class="nav">
								<li class="menu"><a class="dashboard<%= isActiveDashboard %>" href="index.html"></a></li>
								<li class="menu"><a class="cases<%= isActivecases %>" href="/cases"></a></li>
								<li class="menu"><a class="matters<%= isActivematters %>" href="/matter"></a></li>
								<li class="menu"><a class="calendar<%= isActivecalendar %>" href="calendar.html"></a></li>
								<li class="menu"><a class="documents<%= isActiveDashboard %>" href="/documents"></a></li>
                                <li class="menu"><a class="library<%= isActiveDashboard %>" href="/library"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
		<div id="bd" class="container content-wrapper">
            <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
            </asp:ContentPlaceHolder>
    	</div>
		
		<div id="push"></div>
		
	</div>
	
	<div id="ft">
      <div class="container">
        <p class="muted credit">
        	<small>
        		© Department of Justice &nbsp;|&nbsp; National Prosecution Service &nbsp;|&nbsp; All Rights Reserved.
        	</small>
        </p>
      </div>
    </div>
    
<script type="text/javascript" src="/js/mainScript.js"></script>
    </form>
</body>
</html>
